fastapi
uvicorn
sqlalchemy
pymysql
pydantic
python-dotenv
pyautogui
pyperclip
pygetwindow
pillow
opencv-python
numpy
requests
ollama
python-jose[cryptography]
passlib[bcrypt]
email-validator
google-auth
psutil
pystray
keyboard
SpeechRecognition
sounddevice
